<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head', { title: ' | Home' }) %>
</head>

<body class="bg-white text-gray-600 work-sans leading-normal text-base tracking-normal">
    <!--Nav-->
    <%- include('./partials/nav') %>

    <!-- Content -->
    <%- include('./home') %>

    <!-- Footer -->
    <%- include('./partials/footer') %>

</body>

</html>
