<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Quiosquito | <%= title %></title>
<meta name="description" content="Free open source Tailwind CSS Store template">
<meta name="keywords" content="tailwind,tailwindcss,tailwind css,css,starter template,free template,store template, shop layout, minimal, monochrome, minimalistic, theme, nordic">

<link rel="stylesheet" href="/css/tailwind.min.css"/>
<link rel="stylesheet" href="/css/style.css"/>
<% if (locals.user && user) { %>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<% } %>

<link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">
<link rel="icon" type="image/png" href="/img/quiosquito.png" />